body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s ease;
    height: 70px; 
    line-height: 70px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
}

section {
    padding: 5em 2em;
    text-align: center;
    position: relative;
}

.background-image {
    background-image: url('img/background_one.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 2em;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.hero-content h1 {
    font-size: 4.5em;
    margin: 0 0 0.5em 0;
    color: white;
}

.hero-content p {
    font-size: 2.2em;
    color: white;
}

.hero-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-section {
    padding: 3em 2em;
    background-color: #1a1a1a;
    text-align: left;
    color: #ccc;
}

.about-section h2 {
    font-size: 2em; 
    padding-left: 0.5em;
    margin-bottom: 0.2em; 
    color: #ccc;
}

.about-text p {
    margin-top: 0.2em; 
}



.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text {
    flex: 1 1 45%;
    padding: 1em;
}

.about-image {
    flex: 1 1 45%;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.gallery-item {
    background-color: transparent; 
    color: #fff; 
    padding: 1em; 
    margin: 1em;
    flex: 1 1 calc(33% - 2em);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #fff; 
    border-radius: 5px; 
    transition: transform 0.3s ease;
    animation: floatAnimation 5s infinite ease-in-out alternate;
    text-decoration: none;
}

.gallery-item:nth-child(2) {
    animation-duration: 4s; 
}

.gallery-item:nth-child(3) {
    animation-duration: 3s;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px); 
    }
}

.gallery-item:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1); 
}

.gallery-item a {
    color: #fff; 
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #fff; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gallery-item a:hover {
    background-color: #fff; 
    color: #000; 
}


#portfolio {
    position: relative;
    background-image: url('img/background_two_from_deviant_art.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    padding: 5em 2em;
    text-align: center;  
}

#portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

#portfolio h2 {
    font-size: 3em; 
    color: #fff;  
    position: relative;
    z-index: 2;
}

#portfolio::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px; 
    height: 2px; 
    background-color: #fff; 
}

#contact {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 5em 0; 
    text-align: center;
    position: relative;
}

#contact h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#contact {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 5em 2em; 
    text-align: center;
    position: relative;
}

.footer-distributed {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    box-sizing: border-box;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


@media (max-width: 880px) {
    .footer-distributed {
        padding: 40px 30px;
    }
}

/* Footer Left */

.footer-distributed .footer-left {
    width: 30%; 
}

.footer-distributed h3 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    margin: 0;
}


.footer-distributed h3 span {
    color: lightseagreen;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 30%; 
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: " ";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%; 
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .footer-distributed {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        width: 100%;
        margin-bottom: 2em;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-text,
    .about-image {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .about-image {
        margin-top: 2em;
    }
}
footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}
