table{

    border: 5px solid black;
    border-collapse: collapse;
    border: 5px solid black;
    border-collapse: collapse;
    border-top: solid pink;
    border-bottom: solid cyan;
    border-left: dashed;
    border-right:dotted ;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color:black;
}

th, tr, td{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: inset;
}

img{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 50%;
    height: 80%;

  }

